{% extends 'base.html' %} {% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
    /* card */
    
    body {
        background: url('https://static.toiimg.com/thumb/msid-91993262,imgsize-50950,width-800,height-600,resizemode-75/91993262.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .whole {
        display: flex;
    }
    
    .card {
        display: grid;
        grid-template-columns: 190px;
        grid-template-rows: 0px 65px 80px;
        height: 20vh;
        grid-template-areas: "image" "text" "stats";
        border-radius: 16px;
        background: #00000069;
        /* box-shadow: 5px 5px 15px rgb(0 0 0 / 90%); */
        text-align: center;
        transition: 0.5s ease;
        cursor: pointer;
        margin: 56px;
        /* border: 4px double black; */
        /* background-color: #d9e7ce52;*/
    }
    
    .card-text {
        grid-area: text;
        margin: 25px;
    }
    
    .card-text p {
        color: grey;
        font-size: 15px;
        font-weight: 300;
    }
    
    .card-text h2 {
        margin-top: 75px;
        font-size: 21px;
        color: white;
        margin-top: 75px;
        font-weight: lighter;
    }
    
    .card:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    }
    /* next section */
    
    .container2 {
        display: flex;
        margin: 0 0 0 -23px;
    }
    
    .container {
        display: flex;
        align-items: center;
        padding: 25px;
        min-height: 100vh;
        background-color: aliceblue;
    }
    
    .left {
        width: 50vw;
        height: auto;
    }
    
    .left img {
        width: 40vw;
        height: 60vh;
    }
    
    .right {
        width: 30vw;
        height: auto;
    }
    
    .first-2 {
        display: flex;
    }
    
    .second-2 {
        display: flex;
    }
    
    .thired-2 {
        display: flex;
    }
    
    form {
        padding: 20px;
        width: 700px;
        background: #0c0a0a87;
        box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
        margin: 35px 0 0 100px;
        height: 89vh;
    }
    
    form .row {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    
    form .row .col {
        flex: 1 1 250px;
    }
    
    form .row .col .title {
        font-size: 20px;
        color: white;
        padding-bottom: 5px;
        text-transform: uppercase;
    }
    
    form .row .col .inputBox {
        margin: 15px 0;
    }
    
    form .row .col .inputBox span {
        margin-bottom: 10px;
        display: block;
        color: aliceblue;
        font-size: 20px;
    }
    
    form .row .col .inputBox input {
        width: 100%;
        border: 1px solid #ccc;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        padding: 10px 15px;
        font-size: 15px;
        text-transform: none;
        color: wheat;
        outline: none;
        background-color: #14141400;
    }
    
    input::placeholder {
        color: rgb(211, 186, 186);
    }
    
    form .row .col .inputBox input:focus {
        border: 1px solid #000;
    }
    
    form .row .col .flex {
        display: flex;
        gap: 15px;
    }
    
    form .row .col .flex .inputBox {
        margin-top: 5px;
    }
    
    form .row .col .inputBox img {
        height: 34px;
        margin-top: 5px;
        filter: drop-shadow(0 0 1px #000);
    }
    
    form .submit-btn {
        width: 100%;
        padding: 12px;
        font-size: 17px;
        background: #27ae60;
        color: #fff;
        margin-top: 5px;
        cursor: pointer;
    }
    
    form .submit-btn:hover {
        background: #2ecc71;
    }
    
    footer {
        display: none;
    }
    
    .sec-1-h {
        color: #e50042c2;
        text-align: center;
        font-family: Gabriola;
        letter-spacing: 1px;
        font-size: 40px;
        text-transform: uppercase;
    }
    
    textarea {
        padding: 20px;
    }
    /* close button */
    
    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 1;
        z-index: 7;
    }
    
    .close:hover {
        opacity: 1;
    }
    
    .close:before,
    .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #f2ff00;
    }
    
    .close:before {
        transform: rotate(45deg);
    }
    
    .close:after {
        transform: rotate(-45deg);
    }
</style>{% endblock head %} {% block body %}
<a href="/donation" class="close"></a>

<h1 class="sec-1-h">Donate Any Thing You Want</h1>
<hr class="hr2">
<section class="whole">
    <section class="onee">
        <div class="first-2">
            <div class="card">

                <i class="fa-solid fa-bowl-food" style="font-size:40px ; color:#b38a05 ; margin-top: 35px;"></i>
                <div class="card-text">
                    <h2>Donate Food</h2>
                </div>


            </div>
            <div class="card">
                <i class="fa-solid fa-shirt" style="font-size:40px ; color:#23078a ; margin-top: 35px;"></i>

                <div class="card-text card2">

                    <h2>Donate Cloths</h2>

                </div>

            </div>
        </div>
        <div class="second-2">
            <div class="card">

                <i class="fa-solid fa-car-side" style="font-size:40px ; color:#d40e78 ; margin-top: 35px;"></i>
                <div class="card-text card2">

                    <h2>Donate Toy</h2>

                </div>

            </div>

            <div class="card">
                <i class="fa-solid fa-heart-pulse" style="font-size:40px ; color:red ; margin-top: 35px;"></i>
                <div class="card-text card4">

                    <h2>Donate For Health</h2>

                </div>

            </div>

        </div>
        <div class="thired-2">
            <div class="card">
                <i class="fa-solid fa-book-open-reader" style="font-size:40px ; color:#0fbc35 ; margin-top: 35px;"></i>
                <div class="card-text card4">

                    <h2>Donate For Stationary</h2>

                </div>

            </div>
            <div class="card">

                <i class="fa-solid fa-bowl-food" style="font-size:40px ; color:#0d0d0c ; margin-top: 35px;"></i>
                <div class="card-text">
                    <h2>Donate Other things</h2>
                </div>


            </div>
        </div>
    </section>
    <form class="form" id="form" onsubmit="return validation()" method="POST">
        {% csrf_token %}
        <div class="row">

            <div class="col">

                <h3 class="title">Details</h3>

                <div class="inputBox">
                    <span>full name :</span>
                    <input type="text" placeholder="john deo" id="fnm" name="name">
                    <span id="firsterror" style="color:red;" class="errorl"></span>
                </div>
                <div class="inputBox">
                    <span>email :</span>
                    <input type="email" placeholder="example@example.com" id="email" name="email">
                    <span id="emailerror" style="color:red;" class="errorl"></span>
                </div>
                <div class="inputBox">
                    <span>phone No :</span>
                    <input type="number" placeholder="99999999999" id="phone" name="phone">
                    <span id="phoneerror" style="color:red;" class="errorl"></span>
                </div>
                <div class="inputBox">
                    <span>city :</span>
                    <input type="text" placeholder="mumbai" id="city" name="city">
                    <span id="cityerror" style="color:red;" class="errorl"></span>
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>state :</span>
                        <input type="text" placeholder="Bihar" id="state" name="state">
                        <span id="stateerror" style="color:red;" class="errorl"></span>
                    </div>
                    <div class="inputBox">
                        <span>pin code :</span>
                        <input type="text" placeholder="123 456" id="pin" name="pin">
                        <span id="pinerror" style="color:red;" class="errorl"></span>
                    </div>

                </div>
                <div class="inputBox">
                    <span>What you Want to Donate :</span>
                    <input type="text" name="donatebox" id="message" placeholder="write your donation here">
                    <span id="messagerror" style="color:red;" class="errorl"></span>
                </div>

            </div>

        </div>

        <input type="submit" value="Donate Here" class="submit-btn">

    </form>
    </div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function validation() {
        var name = document.getElementById("fnm").value;
        var namecheck = /^[A-Za-z. ]{3,30}$/;

        if (namecheck.test(name)) {
            document.getElementById('firsterror').innerHTML = "";
            document.getElementById('fnm').style.borderColor = "blue";
        } else {
            document.getElementById('firsterror').innerHTML = " **please enter  Name**";
            document.getElementById('fnm').style.borderColor = "red";
            return false;
        }

        var email = document.getElementById("email").value;
        var emailcheck = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (emailcheck.test(email)) {
            document.getElementById('emailerror').innerHTML = " ";
            document.getElementById('email').style.borderColor = "blue";
        } else {
            document.getElementById('emailerror').innerHTML = " **please enter valid email Id**";
            document.getElementById('email').style.borderColor = "red";
            return false;
        }

        var phone = document.getElementById("phone").value;
        var phonecheck = /^[0-9]{10}$/;

        if (phonecheck.test(phone)) {
            document.getElementById('phoneerror').innerHTML = " ";
            document.getElementById('phone').style.borderColor = "blue";
        } else {
            document.getElementById('phoneerror').innerHTML = " **please enter valid phone**";
            document.getElementById('phone').style.borderColor = "red";
            return false;
        }

        var city = document.getElementById("city").value;
        var citycheck = /^([\w\W ]{3,100})$/;
        if (citycheck.test(city)) {
            document.getElementById('cityerror').innerHTML = " ";
            document.getElementById('city').style.borderColor = "blue";
        } else {
            document.getElementById('cityerror').innerHTML = " **please enter city**";
            document.getElementById('city').style.borderColor = "red";
            return false;
        }

        var state = document.getElementById("state").value;
        var statecheck = /^([\w\W ]{3,100})$/;
        if (statecheck.test(state)) {
            document.getElementById('stateerror').innerHTML = " ";
            document.getElementById('state').style.borderColor = "blue";
        } else {
            document.getElementById('stateerror').innerHTML = " **please enter state**";
            document.getElementById('state').style.borderColor = "red";
            return false;
        }


        var pin = document.getElementById("pin").value;
        var pincheck = /^[0-9]{6}$/;

        if (pincheck.test(pin)) {
            document.getElementById('pinerror').innerHTML = " ";
            document.getElementById('pin').style.borderColor = "blue";
        } else {
            document.getElementById('pinerror').innerHTML = " **please enter valid pin**";
            document.getElementById('pin').style.borderColor = "red";
            return false;
        }
        var message = document.getElementById("message").value;
        var messagecheck = /^[A-Za-z. ]{3,30}$/;

        if (messagecheck.test(message)) {
            document.getElementById('messagerror').innerHTML = "";
            document.getElementById('message').style.borderColor = "blue";
        } else {
            document.getElementById('messagerror').innerHTML = " **please enter Message**";
            document.getElementById('message').style.borderColor = "red";
            return false;
        }


        alert('Thank You for filling the form. -  Our volunteer will pick the item soon ! ')

    }
</script>

{% endblock body %}