<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destiny Doors</title>
    <link rel="stylesheet" href="../static/base.css"> {% block head %} {% endblock head %}
</head>

<body>
    <nav class="navbar">
        <img src="../static/main_logo.png" alt="">
        <p>Destiny Doors</p>
        <div id="trapezoid">

            <a href="/" class="expandHome ">Home</a>
            <a href="/about" class="expandHome">About</a>
            <a href="/adopt" class="expandHome">Adopt</a>
            <a href="/contact" class="expandHome">Contact</a>
            <a href="/child" class="expandHome">Meet the children</a>
            <a href="/donation" class="expandHome">Help Us</a>

        </div>
    </nav>
    {% block body %} {% endblock body %}
</body>

<script src="../static/index.js">
</script>

<script>
    document.querySelector('.img-btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s-signup')
    });
</script>

</html>