<style>
    body {
        text-align: center;
        margin: 200px 500px 100px 500px;
        background-color: black;
    }
    
    .card {
        display: grid;
        border-radius: 18px;
        width: 30vw;
        height: 40vh;
        /* line-height: 70px; */
        padding: 2px;
        /* margin-top: 31px; */
        background: white;
        box-shadow: 5px 5px 15px rgb(0 0 0 / 90%);
        font-family: roboto;
        text-align: center;
    }
    
    .card-text {
        grid-area: text;
    }
    
    .card-text {
        grid-area: text;
        margin: 25px;
    }
    
    .card-text p {
        color: grey;
        font-size: 15px;
        font-weight: 300;
    }
    
    .card-text h2 {
        margin-top: 0px;
        font-size: 28px;
    }
    
    .card-text p {
        margin-top: 0px;
        font-size: 18px;
        font-family: auto;
        color: #007aff;
    }
    
    button {
        background-color: #e50042c2;
        border: 2px solid white;
        border-radius: 10px;
    }
    
    button a {
        color: white;
        font-size: 20px;
        background-color: #e50042c2;
        font-family: cursive;
        text-decoration: none;
    }
</style>
</head>

<body>
    <div class="card">
        <div class="card-text">
            <h2>Thank You for Your Donation</h2>
            <p>Whole family Of Destiny Door happy for your donation.</p>
            <p>Our Volunteer will collect things from your Door.</p>
            <button> <a href="/">Destiny Doors</a></button>
        </div>

    </div>
</body>

</html>