{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destiny Doors</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>

    <section class="main">
        <img src="../static/child-adoption-india.jpg" alt="">
        <div class="heading">
            <div class="vertical-center">
                <h2>We aim every <br> orphan child reach <br>to its own</h2>
                <hr>
                <h1>destiny</h1>
            </div>
        </div>

    </section>
</body>
<script src="../static/index.js">
</script>

</html>