{% extends 'base.html' %}{% block head %}
<style>
    .sec-1 {
        display: flex;
    }
    
    .left {
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin-top: 5px;
    }
    
    .left a:link,
    .left a:visited {
        background-color: #ececec;
        color: black;
        padding: 9px 0px 0 0;
        /* line-height: 1; */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        height: 54px;
    }
    
    .left a:hover,
    .left a:active {
        background-color: #261e2408;
        color: red;
    }
    
    .navs1,
    .navs2,
    .navs3,
    .navs4 {
        height: 50px;
        cursor: pointer;
        color: black;
        border: 1px solid black;
        font-family: auto;
        font-size: 18px;
    }
    
    .right {
        width: 80vw;
        /*border: 1px solid black;
        height: 90vh;
        border-top: 0;
        border-bottom: 0;
        border-right: 0;*/
    }
    
    #heading {
        height: 50px;
        width: 98%;
        text-align: center;
        /* background-color: #8ecaf24a; */
        font-size: 33px;
        margin: 5px 0 0 10px;
        /* line-height: 1; */
        background-color: #0871c1;
        color: #fff;
        padding-top: 3px;
    }
    
    #heading2 {
        color: #0871c1;
        width: 12vw;
        font-family: auto;
        letter-spacing: 2px;
        margin: 42px 0 0 20px;
        border-bottom: 2px dotted black;
    }
    
    .right h3 {
        margin: 0 60px 0 20px;
    }
    
    .right p {
        margin: 0 60px 0 20px;
    }
</style>
{% endblock head %} {% block body %}
<section class="sec-1">
    <div class="left">
        <a href="/adopt" class="navs1">Eligibility Criteria</a>
        <a href="../static/guidlines.pdf" class="navs2">Guidlines For Adoptation</a>
        <a href="../static/documents required.pdf" target="_blank" class="navs3">Documents Required</a>
        <a href="../static/stats.pdf" target="_blank" class="navs4">Adoption Statistics</a>
        <a href="../static/CARA-Annual-Report_2020-2021_Complete.pdf" target="_blank" class="navs4">Annual Report</a>
        <a href="../static/incountry.pdf" target="_blank" class="navs4">Adoption Procedure for Incountry Relative Adoption</a>
        <a href="../static/intercountry.pdf" target="_blank" class="navs4">Adoption Procedure for Intercountry Relative Adoption</a>
        <a href="../static/step.pdf" target="_blank" class="navs4">Adoption Procedure for Step Parents</a>

        <a href="../static/Regulation_Hindi.pdf" target="_blank" class="navs4">Adoption Regulation 2017 Hindi Version</a>
        <a href="../static/Regulation_english.pdf" target="_blank" class="navs4">Adoption Regulation 2017 English Version</a>
        <a href="../static/Bench Book For Adoptions.pdf" target="_blank" class="navs4">Bench Book For Adoptions</a>
        <a href="/story" class="navs4">Seccess Story</a>
    </div>
    <div class="right">
        <h1 id="heading">Destiny Doors Information and Guidance System</h1>
        <h2 id="heading2">Success Stories</h2>
        <br>
        <hr><br>
        <h3>
            Ambhrini, Bharath and Mandakini</h3>
        <br><br>
        <p>It was first week of January 2012. Baby looked at my wife with a deep sharp look without much blinking. She kept on looking. Tears of joy filled our eyes. That look changed our lives forever. She was all but four plus month’s baby, wrapped from
            head to toe, brought in front of us by a social worker at adoption agency. First look at the baby gave us all the happiness we ever longed for. Today she is growing with us as our proud daughter Ambhrini. We wish for nothing more in this life,
            from God. With the blessings of elders we got married in June 2002. Both of us are from middle class south Indian families. As it would be, we were a happily married couple. After few years of marriage, when my wife did not conceive, we consulted
            few fertility experts in Bangalore. We spent a fortune on procedures, which resulted in nothing but pain, suffering, huge body changes due to artificial injections of hormones and financial loss. Then we decided enough is enough. We thought
            why we don’t adopt a baby. Discussions with our elders, family and friends gave us lot of support. We registered for adoption with an agency in Bangalore. We were very anxious as there was none to match with us. However, during one of the
            visits to other agency, we were suggested to look for availability of baby from other agencies. When we contacted another agency, we got positive vibes as the Authorities asked us to send a whole bunch of documents. Within next few months
            we got the information that legally free baby was available for adoption. Our Home Study was done by a Bangalore based agency. On completing the documentation part, we were asked to come and visit agency to look at the baby. We reached there
            in first week of 2012 and the team was very supportive and helped us to go through Medical Examination, Court filings and rest of the formalities. In third week of January, we were given our dream, our baby on foster care and we travelled
            back to Bangalore with all the happiness in the world. In April 2012, we again traveled to complete adoption registration. On the whole our experience in adopting a baby has been extremely good. Ambhrini is a very intelligent, emotional and
            wonderful baby. She is very quick to learn and very playful twenty four hours a day. Right now we are living in heaven, on this earth along with our baby. We sincerely thank the agency and its entire team from the bottom of our hearts for
            giving us a purpose to live.</p>
        <br>
        <hr>
        <hr><br>
        <h3>
            Paromita Chatterjee</h3>
        <br><br>
        <p>I brought my daughter, now 4 years old, home in June 2014. I am a single mother and I live in Delhi. I had decided quite early (maybe around the time I was 15) that I would adopt, irrespective of whether I married or not and I finally got around
            to acting on this decision at 38. For many Indians, who are still worried about the social acceptance of adopted children, I would like to say that my experience so far has only been positive. Not only have I been encouraged and supported
            by my immediate and extended families and friends, even strangers or mere acquaintances upon hearing that I have an adopted child have shown a wonderfully healthy interest in the process and the experience. All schools that I have been to
            regarding my daughter’s admission have been most accommodating in not insisting on the BC for admission. Like all parents, I also have questions about what kind of a person my daughter will grow up to be. Her personality is very different
            from mine, and we already have our share of skirmishes but that just makes the relationship seem even more natural. The only thing common is perhaps how stubborn we both are! Having brought my daughter home at 3+ years of age, the question
            of not revealing that she is adopted doesn't arise. The teachers at the school she goes to are aware that she is adopted and they have been very supportive in working with her. Having seen disruption at an early age in life, she is very adaptive
            and has not taken much time to adjust to her new surroundings and the new people in her life. Being an older child - in adoption parlance, meal-times, toilet-training, etc. have not been any issues at all. And it took her all of 5 minutes
            to accept her new grandmother (my mother), as her best friend in life! But some issues that I had to deal with are things like: in the initial days, she didn't want to sleep at all and she would start saying "sona nahi hai". But now, she willingly
            says, "sona hai" whenever she is tired and it is no challenge putting her to bed. Sometimes her fears of abandonment still surface, particularly in crowded areas such as airports & malls, when I cannot leave her for even a minute. But she
            is slowly gaining confidence and a sense of security. All she now wants to do is "plane mein jaana hai" & "gaadi mein ghoomna hai". She now knows she belongs and I hope by the time she is ready to start asking questions about her adoption
            and biological parents, she will also realize that it doesn’t matter much.

        </p>
        <br>
        <hr><br><br>

    </div>
</section>
{% endblock body %}