<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destiny Doors</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <nav class="navbar">
        <img src="../static/main_logo.png" alt="">
        <p>Destiny Doors</p>
        <div id="trapezoid">

            <a href="#About" class="expandHome">Home</a>
            <a href="#About" class="expandHome">About</a>
            <a href="#About" class="expandHome">Services</a>
            <a href="#About" class="expandHome">Gallery</a>
            <a href="#About" class="expandHome">Contact</a>
            <a href="#About" class="expandHome">other</a>


        </div>
    </nav>

    <section class="main">
        <img src="../static/child-adoption-india.jpg" alt="">
        <div class="heading">
            <div class="vertical-center">
                <h2>We aim every <br> orphan child reach <br>to its own</h2>
                <hr>
                <h1>destiny</h1>
            </div>
        </div>

    </section>
</body>
<script src="../static/index.js">
</script>

</html>