:root {
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(25, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top right, var(--pink-light), var(--cyan-light));
    font-size: 16px;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;
}

section {
    background-color: var(--white-alpha-25);
    border: 3px solid black;
    min-height: 99vh;
    border-radius: 30px;
}

.main {
    max-width: 99vw;
    padding-top: 5px;
    margin: auto;
}


/* navbar css  */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    color: var(--white);
}

.nav_list {
    list-style: none;
    display: flex;
    column-gap: 20px;
}

.nav_link {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.nav_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}